{
    #텔레그램에서 @botfather에게 생성, 조회할 수 있습니다
    "bot_token" : "make from @botfather in telegram",
    #봇과 대화할 대화방을 지정합니다. 일반적으로 owner_id와 동일하게 설정합니다
    "chat_id": "groupchat id",
    #봇 소유주의 number id를 조회합니다. 숫자로 만들어진 자신의 id를 넣습니다
    "owner_id": "your number id"
}